@model List<Rental>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>
    <a href="/Rentals/New">New Rental</a>

   <table class="table table-bordered table-hover">
       <tr>
           <th>Id</th>
           <th>CarId</th>
           <th>StartDate</th>
           <th>EndDate</th>
           <th>TotalPrice</th>
        
       </tr>

        @foreach (var item in Model)
        {
          <tr>
            <td>@item.Id</td>
            <td>@item.CarId</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>@item.TotalPrice</td>
        </tr>
        }
    </table>
    <a href="/Home/index">Home</a>
